{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome {{session.get('name')}} </h1>
    <h1>This is the to-do-list!</h1>
    <p class="add">Add a new item</p>
    {% for dic in toDoList %}
        <ul>
            {% if 'exist' %}
            <p></p>
                <li>
                    <h2><strong>{{ dic.item }}:</strong> {{ dic.desc }}</h2>
                    <form method="post" action="/delete">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <p class="button"><input type="submit" value="Delete"></p>
                    </form>
                </li>
            {% else %}
            <p></p>
            {% endif %}
        </ul>
    {% endfor %}

    <form method="post">
        <p>Item: <input type="text" name="item" placeholder=""></p>
        <p>Description: <input type="text" name="desc" placeholder=""></p>
        <p><input type="submit" value="Add"></p>
    </form>
{% endblock %}